@use '../../styles/variables' as *;

.mobile-total-price {
  display: none;
  
  @media (max-width: $breakpoint-tablet) {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: $color-background;
    border-top: 1px solid $color-border;
    padding: $spacing-md;
    z-index: 100;
    box-shadow: 0 -4px 6px -1px rgba(0, 0, 0, 0.1);
  }
  
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
  }
  
  &__info {
    display: flex;
    flex-direction: column;
  }
}
